<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
  <title>My Favorites</title>
</head>
<body>
  <h2>My Favorite Recipes</h2>
  <% favorites.forEach(fav => { %>
    <div class="card">
      <img src="<%= fav.image %>" alt="<%= fav.name %>" class="recipe-img">
      <h3><%= fav.name %></h3>

      <form action="/details" method="POST">
        <input type="hidden" name="idMeal" value="<%= fav.mealId %>">
        <button type="submit">View Details</button>
      </form>

      <form action="/remove" method="POST">
        <input type="hidden" name="mealId" value="<%= fav.mealId %>">
        <button type="submit">Remove</button>
      </form>
    </div>
  <% }) %>

  <br><br>
  <form action="/remove-all" method="POST">
    <button type="submit" style="margin-bottom: 20px;">Remove All</button>
  </form>

  <a href="/">Back to Search</a>
</body>
</html>